html, body {
        height: 100%;
        margin: 0px;
      }
	  #map-canvas {
	      top: 65px;
        height: 80%;
        margin: 0px;
        padding: 0px;
	      margin: 50px 5px 20px 260px;
	      //border-style: dashed;
	      border-width: 2px
		}
	  #panel {
        position: absolute;
        top: 100px;
	margin-left: 260px;
        z-index: 100;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
	  	  #panel2 {
        position: absolute;
        top: 100px;
        margin-left: 720px;
        z-index: 100;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
}
	    #sewaneeBox {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100px;
        width: 100%;
        background-color: #3D007A;
        padding: 5px;
        border-bottom: 2px solid;
}
      div.dropDown {
        background-color: #ffffff;
        border: 1px solid black;
        opacity: 0.8;
        filter: alpha(opacity=60);
        width: 40px;
}
	  #checkBox {
        position: absolute;
        top:   114px;
        left:   5px;
        height: 78%;
        width: 240px;
        background-color: #E0E0E0;
        -moz-border-radius: 40px;
        -webkit-border-radius: 40px;
        border-radius:         40px;
        border: 1px solid #999;
        padding: 5px;
	  }
        /*img.logo{
        width: 300px;
        height: 60px;
}*/
      #styles, #add-tab {
        float: left;
        margin-top: 10px;
        width: 400px;
      }

      #styles label,
      #add-tab label {
        display: inline-block;
        width: 130px;
      }

      #travel_data {
         background: #00e5ee;
      }

      .phoney {
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgb(112,112,112)),color-stop(0.51, rgb(94,94,94)),color-stop(0.52, rgb(57,57,57)));
        background: -moz-linear-gradient(center top,rgb(112,112,112) 0%,rgb(94,94,94) 51%,rgb(57,57,57) 52%);
      }

      .pic{
        width: 250px;
        height: 200px;
    }
        .bigPic{
            width:200px;
            height:300px;
        }


